<div class="container">
    <img ng-src="module/Details/img/banner.png">
    <p>随着互联网应用的不断增加，各类网络攻击事件的频发，客户对互联网安全开始逐渐重视，面向互联网产品提供安全防护业务的需求与日俱增。</p>
    <p>云端卫士平台正是为解决这一问题而推出。以“大网近源”、“IDC近目标”的模式为客户提供运营商级安全、加速一站式解决方案。</p>
    <div>
        <p>云端卫士联系方式如下：</p>
        <p>官网：<a  ng-href="http://www.cloudguarder.com">http://www.cloudguarder.com/</a></p>
        <p>微博：云端卫士</p>
        <p>微信：云端卫士</p>
        <p>合作：合作运营、代运营</p>
        <p>电话：400-818-5108</p>
        <p>邮箱：support@cloudguarder.com</p>
        <p>地址：中国·北京·海淀区·中关村大街59号</p>
        <img ng-src="module/Details/img/qrcode1280.jpg">
        <p>欢迎您关注我们的微信企业账号。您可以扫描上面的二维码，也可以在搜索框里面输入：云端卫士。</p>
    </div>
</div>